




<main>

<div class="row">
           <h5>My Story</h5>
    <p id="about">

        I began my career at a boutique political strategies firm and spent the past 
        seven years helping solve complex strategic challenges for candidates and causes.
        I was in the war room for campaigns across the spectrum – from presidential 
        super-PACs to mayoral races. There were many close knit teams, dynamic obstacles, 
        and carefully laid plans that had to be spontaneously changed.
        <br><br>
        I was drawn to coding for my interests in design and animation, but found that 
        many of the challenges and opportunities it offers are similar to what I experienced 
        in politics. Great campaigns tell stories, build narratives. They require meticulous 
        planning and spontaneous creativity. Great applications move their users stories 
        forward.  Building them requires exploration and imagination. I love to take deep 
        dives into problems – learn about them from the inside out – and then search for 
        solutions using the best digital tools available. 
        <br><br>
        I recently completed a six-month full stack web development 
        program with the University of Texas and am now searching 
        for an opportunity to immerse myself in the digital space, grow 
        my knowledge, and tackle the new challenges facing our world.
 

    </p>

</div>




    <div class="row">
        <hr />
        <h5>
          Skills, Languages, and Frameworks
        </h5>
        <ul id="skills-list">
          <li class="skills">JavaScript</li>
          <li class="skills">Node</li>
          <li class="skills">React</li>
          <li class="skills">CSS3</li>
          <li class="skills">Express</li>
          <li class="skills">MongoDB</li>
          <li class="skills">MySQL</li>
          <li class="skills">Meteor.js</li>
          <li class="skills">Responsive Design</li>
          <li class="skills">User Authentication</li>
          <li class="skills">Handlebars</li>
          <li class="skills">Bootstrap</li>
          <li class="skills">Materialize.js</li>
          <li class="skills">p5.js</li>
          <li class="skills">Git</li>
          <li class="skills">Heroku</li>
        </ul>
    </div>
</main>


<footer>
<hr />
    <h5>Contact</h5>
    <div class="container" id="contact">
        <div class="row">
        <div style="text-align: center">
            <ul>
            <li class="contact-button"><a href="https://github.com/dwalden86"><i class="fa fa-github" aria-hidden="true" style="font-size:48px; color: black"></i></a></li>
            <li class="contact-button"><a href="https://www.linkedin.com/in/danny-walden-a0063379/"><i class="fa fa-linkedin" aria-hidden="true" style="font-size:48px; color: black"></i></a></li>
            <li class="contact-button"><a href="mailto:danny@dannywalden.com?Subject=Hello%20Danny" target="_top"><i class="fa fa-envelope" aria-hidden="true" style="font-size:48px; color: black"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>