
<header>
  <nav class="z-depth-0">
    <div class="nav-wrapper white">
      <a href="/" class="brand-logo left black-text">Danny Walden</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/">Work</a></li>
      </ul>
    </div>
  </nav>
</header>


    <p id='about'>
    I began my career as a campaign aide for a boutique political consulting firm
     and in a few years worked on everything from presidential races to school board elections.
     I experienced many fast paced, high pressure days, and grew passionate about solving the unique
     challenges that would often arise. That passion turned to the digital space, and using it to build
     creative solutions for my clients - taking their words and their goals and turning them into
     platforms which move their stories forward.
    </p>




<footer>
  <div class="container">
    <div class="row">
      <div style="text-align: center">
        <a href="https://github.com/dwalden86"><i class="fa fa-github" aria-hidden="true" style="font-size:48px; padding: 5vh; color: black"></i></a>
        <a href="https://www.linkedin.com/in/danny-walden-a0063379/"><i class="fa fa-linkedin" aria-hidden="true" style="font-size:48px; padding: 5vh; color: black"></i></a>
        <a href="mailto:walden.houston@gmail.com?Subject=Hello%20Danny" target="_top"><i class="fa fa-envelope" aria-hidden="true" style="font-size:48px; padding: 5vh; color: black"></i></a>
        <a href="assets/pics/campfire.jpg" download><i class="fa fa-file" aria-hidden="true" style="font-size:48px; padding: 5vh; color: black"></i></a>
      </div>
    </div>
  </div>
</footer>
