<p id="sketch_title">Sept 27, 2017: A-Bomb</p>

<div id="board">
    
</div>
<em><p style="text-align:center">Mouse around to change colors</p></em>



<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.min.js"></script>
<script src="assets/js/sketch9-27-17.js"></script>