<p>The daily sketch</p>

<p id="sketch_title">Sept 25, 2017: What Typo Person Are You?</p>


<div id="board">
    
</div>
<div id="unibutton">
<button class="btn" id="newunicode" style="background: rgb(142,159,154); margin-top:20px">Change</button>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.min.js"></script>
<script src="assets/js/sketch.js"></script>