<p id="sketch_title">Sept 25, 2017: What Typo Person Are You?</p>
<p style="text-align: center">Inspired by this <a href="https://twitter.com/mwichary/status/911663979792961536">observation</a> by Marcin Wichary</p>


<div id="board">
    
</div>
<div id="unibutton">
<button class="btn" id="newunicode" style="background: rgb(142,159,154); margin-top:20px">Change</button>
</div>



<script src="assets/js/sketch9-25-17.js"></script>