<p id="sketch_title">Sept 21, 2017: The Unicode Factory</p>
<div id="board">
    
</div>
<p style="text-align: center">Unicode Value: <span id="unicode"></span></p>
<p style="text-align: center">Press Jump to move to another part of the vast unicode line</p>
<div id="unibutton">
<button class="btn" id="newunicode">Jump</button>
</div>



<script src="assets/js/sketch9-21-17.js"></script>