<h4>Past sketches</h4>
<a href="/sketch09-26-17">Domino - September 26, 2017</a><br>
<a href="/sketch09-25-17">What Typo Person Are You? - September 25, 2017</a><br>
<a href="/sketch09-23-17">Unicode Pairs - September 23, 2017</a><br>
<a href="/sketch09-21-17">The Unicode Factory - September 21, 2017</a><br>
<a href="/sketch09-20-17">Searching for Words - September 20, 2017</a><br>
<a href="/sketch09-19-17">the gathering - September 19, 2017</a><br>
<a href="/sketch09-18-17">Ghost Disco - September 18, 2017</a><br>
