<p id="sketch_title">Sept 27, 2017: A-Bomb</p>

<div id="board">
    
</div>
<em><p style="text-align:center">Mouse around to change colors</p></em>


<script src="assets/js/sketch9-27-17.js"></script>
