<p>The daily sketch</p>

<p id="sketch_title">Sept 26, 2017: Domino</p>

<div id="board">
    
</div>

</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.min.js"></script>
<script src="assets/js/sketch.js"></script>