<p>The (almost) daily sketch</p>
<div id="board">
    
</div>
<p id="sketch_title">Sept 21, 2017: Scanning Unicode</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.min.js"></script>
<script src="assets/js/sketch.js"></script>