<p id="sketch_title">Sept 23, 2017: Unicode Pairs</p>
<div id="board">
    
</div>
<p style="text-align: center">Generating random pairings of unicode characters. Mouse over a character to reveal it's partner.</p>




<script src="assets/js/sketch9-23-17.js"></script>