
<div id="board">
    
</div>
<p id="sketch_title">Sept 18, 2017: Ghost Disco</p>
<em><p style="text-align: center">Click in the canvas to add ghosts</p></em>


<script src="assets/js/sketch9-18-17.js"></script>